.containerCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 40px 0 0 0;
  height:400px;
  padding:30px
}

.card {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align:center;
  font-size:18px;
}

.card:hover {
  transform: scale(1.1);
}
.card h2 {
  display: flex;
  color:  #d0d6ad;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon {
  display: flex;
  align-atems: center;
  height: 100px;
  justify-content: center;
  color:#CB9219;
  padding:6px 0 0 0 0;
}

@media screen and (max-width: 908px) {
    .containerCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card h2 {
      font-size:17px;
    }
    }
}

/* ajusta a altura do banner em telas ainda menores */
@media screen and (max-width: 480px) {
  .containerCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0px 0 330px 0;
  }
  .card {
    font-size: 13px;
    padding: 12px;
  }
  .card h2 {
    color: #d0d6ad;
    font-size:16px;
  }
}
